$red: #EA1D22;
$red-dark:  #B31317;
$red-light: #F02A2F;

$blue: #14181F;
$blue-dark:  #0A0C10;
$blue-light: #272A31;

$white: #EDF1F7;
$white-dark:  #E5E9EF;
$white-light: #F4F7FB;

$gray: #A1A3A5;
$gray-dark:  #959698;
$gray-light: #B5B6B8;

