header {
    width: 100%;
    padding: 24px;
}

.navbar {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.nav-list {
    list-style: none;
    display: flex;

    li {
        margin-left: 24px;
    }

    @include responsive() {
        display: none;
    }
}

.nav-link {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    color: $gray;
    transition: .5s ease;

    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 2px;
        height: 0px;
        background: linear-gradient(to top, #EA1E23 0%, rgba(255, 255, 255, 0) 100%);
        left: 50%;
        top: -50px;
        transition: .5s ease;
    }

    &:hover {
        color: $white;

        
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 2px;
        height: 40px;
        background: linear-gradient(to top, #EA1E23 0%, rgba(255, 255, 255, 0) 100%);
        left: 50%;
        top: -50px;
    }

    }
}

.nav-social {
    display: flex;
    align-items: center;
    padding: 20px ;

    svg {
        cursor: pointer;
        margin-left: 24px;
        
        width: 24px;

        path, circle {
            transition: .5s ease;   
        }

        &:hover {
            path, circle {
                fill: $red-light;
                transform: translateY(-3px);
            }
        }
    }
        
    @include responsive() {
        display: none;
    }
}

// .bx {
//     display: none;
//     @include responsive() {
//         width: 48px;
//         height: 48px;
//         background-color: white;
//         border-radius: 3px;
//         display: inline-block;
//     }
// }